.body-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f5f6f7;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  /* branco clean */
  padding: 30px 25px;
  width: 420px;
  border-radius: 2.5px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

/* Logo + título */
.logoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.logoDiv img {
  margin: -20px;
  margin-bottom: -22px;
  width: 120px;
  height: 120px;
}

.ticket-title h1 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: bold;
  color: #5789a6;
  text-align: center;
  -webkit-text-stroke: 2px #04324c;
}

/* Linha divisória */
.divisoria {
  width: 100%;
  height: 1px;
  background: #f97721;
  margin: 15px 0;
  box-shadow: 0px 0px 4px #ff8331;
}

/* Box do formulário */
.login-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Subtítulo */
.login-box h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #111;
  text-align: left;
  width: 100%;
}

/* Inputs */
.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  gap: 5px;
}

.input-group label {
  font-size: 0.85rem;
  color: #666;
}

.input-group input {
  padding: 10px;
  border: none;
  border-radius: 2.5px;
  outline: none;
  font-size: 1rem;
  background: #efefef;
  color: #000;
  transition: 0.2s;
}

.input-group input:focus {
  background-color: #e4e4e4;
}

/* Botão */
.link-cad {
  text-decoration: none;
  width: 100%;
}

.btn-login,
.btn-cad-login {
  margin-top: 1rem;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 2.5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-login {
  color: #fff;
  background: #054062;
}

.btn-cad-login {
  color: #ffffff;
  background: #ff990a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.btn-login:hover {
  background: #3c83ac;
  transform: scale(1.01);
}

.btn-cad-login:hover {
  background-color: #ffae3d;
  transform: scale(1.01);
}

form a {
  display: flex;
  text-decoration: none;
  color: #0b82c7;
  margin-top: 15px;
  align-items: center;
  gap: 4px;
  transition: 0.3s;
}

form a:hover {
  color: #ffae3d;
  transform: scale(1.01);
}

/* ===== Responsividade ===== */

@media (max-width: 768px) {
  body {
    min-height: 100vh;
  }

  .login-container {
    max-width: 400px;
  }

  .logoDiv img {
    width: 90px;
    height: 90px;
    margin: -10px;
    margin-bottom: -15px;
  }

  .ticket-title h1 {
    font-size: 1.5rem;
    -webkit-text-stroke: 1.5px #04324c;
  }

  .login-box h2 {
    font-size: 1.2rem;
  }

  .input-group input {
    font-size: 0.95rem;
    padding: 8px;
  }

  .btn-login,
  .btn-cad-login {
    font-size: 0.95rem;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  body {
    min-height: 100vh;
  }

  .login-container {
    max-width: 320px;
    max-height: 420px;
    border-radius: 2.5px;
    justify-content: center;
  }

  .ticket-title h1 {
    font-size: 1.3rem;
    -webkit-text-stroke: 0.8px #04324c;
    color: #5789a6;
  }

  .logoDiv img {
    width: 75px;
    height: 75px;
  }

  .btn-login,
  .btn-cad-login {
    padding: 9px;
    font-size: 0.9rem;
  }
}

@media (max-width: 360px) {
  body {
    min-height: 100vh;
  }

  .login-container {
    max-width: 250px;
    max-height: 420px;
    border-radius: 2.5px;
    justify-content: center;
    align-items: center;
  }

  .ticket-title h1 {
    font-size: 1.2rem;
    -webkit-text-stroke: 0.7px #04324c;
    color: #5789a6;
  }

  .logoDiv img {
    width: 75px;
    height: 75px;
  }

  .btn-login,
  .btn-cad-login {
    padding: 9px;
    font-size: 0.9rem;
  }
}

.spinner {
  border: 3px solid #f3f3f3;
  /* cor da borda */
  border-top: 3px solid #054062;
  /* cor da borda superior */
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 0.8s linear infinite;
  display: inline-block;
  vertical-align: middle;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}