.body-cad {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f5f6f7;
}

.cad-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  padding: 30px 25px;
  width: 550px;
  border-radius: 2.5px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

.cad-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Subtítulo */
.cad-box h2 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #054062;
  width: 100%;
  text-align: center;
}

/* Inputs */
.input-group-cad {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 1rem;
  gap: 5px;
}

.input-group-cad label {
  font-size: 0.85rem;
  color: #333;
  margin-top: 10px;
  display: block;
  font-weight: 500;
}

.input-group-cad input {
  padding: 10px;
  border: none;
  border-radius: 2.5px;
  outline: none;
  font-size: 1rem;
  background: #e8f0ff;
  color: #000;
  transition: 0.2s;
  margin-top: 2px;
}

.input-group-cad input:focus {
  background-color: #d4e6ff;
}

/* Botão */
.btn-cad {
  margin-top: 1rem;
  width: 20%;
  padding: 12px;
  border: none;
  border-radius: 2.5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
  background: #00c624;
}

.btn-cad:hover {
  background-color: #00da54;
  transform: scale(1.01);
}

/* Voltar */
.btn-voltar {
  margin-top: 1.8rem;
  padding: 6px 12px;
  border: none;
  border-radius: 2.5px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
  background: #e60000;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.btn-voltar:hover {
  background: #ff6d6d;
  transform: scale(1.02);
}

.cpf_cnpj_group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
}

.radioGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  margin-top: 8px;
}

.radioGroup label {
  font-size: 0.9rem;
  color: #0e6eaa;
  font-weight: 500;
  margin-top: 2px;
}

.organizador-group {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.organizador-group label {
  font-size: 0.85rem;
  color: #333;
  font-weight: 500;
}

.organizador-group .radioGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.organizador-group .radioGroup label {
  font-size: 0.9rem;
  color: #0e6eaa;
  font-weight: 500;
}


/* Responsividade Cadastro */
@media (max-width: 768px) {
  .cad-container {
    width: 425px;
    padding: 25px 20px;
  }

  .cad-box h2 {
    font-size: 1.3rem;
  }

  .input-group-cad {
    width: 90%;
  }

  .input-group-cad input {
    font-size: 0.95rem;
    padding: 9px;
  }

  .btn-cad {
    width: 40%;
    font-size: 0.95rem;
    padding: 10px;
  }

  .btn-voltar {
    font-size: 0.95rem;
    padding: 6px 10px;
  }
}

@media (max-width: 480px) {
  .cad-container {
    width: 330px;
    padding: 20px 15px;
  }

  .cad-box h2 {
    font-size: 1.1rem;
  }

  .input-group-cad {
    width: 100%;
  }

  .input-group-cad input {
    font-size: 0.9rem;
    padding: 8px;
  }

  .btn-cad {
    width: 40%;
    font-size: 0.9rem;
    padding: 9px;
  }

  .btn-voltar {
    font-size: 0.9rem;
    padding: 6px 9px;
  }
}

@media (max-width: 360px) {
  .cad-container {
    width: 100%;
    padding: 15px 10px;
    border-radius: 2px;
  }

  .cad-box h2 {
    font-size: 1rem;
  }

  .input-group-cad input {
    font-size: 0.85rem;
    padding: 7px;
  }

  .btn-cad {
    width: 70%;
    font-size: 0.85rem;
    padding: 8px;
  }

  .btn-voltar {
    font-size: 0.85rem;
    padding: 5px 8px;
  }
}